<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">

    </head>
    <body class="w3-light-grey">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/cv">CV</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
        <div class="w3-content w3-margin-top container" style="max-width:1400px;">
            <!-- The Grid -->
            <div class="w3-row-padding">
            {{ content }}
            </div>
        </div><!-- /.container -->
        <footer>
            <ul>
                <li><a href="mailto:reist2009@gmail.com">email</a></li>
                <li><a href="https://github.com/leprekon91">github.com/leprekon91</a></li>
            </ul>
        </footer>
    </body>
</html>